@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(51, 12, 12), rgb(255, 0, 0));
}